extends layout

block content
  h1 change the sign 
  form(action='/newsignpost' method="post")
    input(type='text' name='header' placeholder='header text')
    input(type='text' name='new' placeholder="sign text")
    input(type='submit' placeholder="submit")
